# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Virtual environments
venv/
.env
*.env

# OS / editor stuff
.DS_Store
*.swp
.idea/
.vscode/

# Git
.git
.gitignore

# Docker
Dockerfile*
.dockerignore

# Caches & logs
*.log
.cache/
.mypy_cache/
.pytest_cache/

# Test coverage
.coverage
htmlcov/
